.button{
	width: 40px;
	height: 40px;
	line-height: 25px;
	border: 5px solid #f5f5f5;
	border-radius: 50%;
	color: #848484;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 0 3px gray;
	font-size: 16px;
	font-weight: bold;
	margin: 5px;
	background: -webkit-linear-gradient(white, rgb(169, 169, 169));
	background: -o-linear-gradient(white, rgb(169, 169, 169));
	background: -moz-linear-gradient(white, rgb(169, 169, 169));
	background: linear-gradient(white, rgb(207, 207, 207));
}

#calculator{
	color: rgb(255, 255, 255);
	height: 310px;
	width: 250px;
	background-color: #BABABA;
	border-radius: 10px;
	border-top: 10px solid rgb(255, 126, 0);
	border-bottom: 10px solid rgb(252, 174, 30);
	-moz-box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 20px 100%;
	-moz-background-size: 20px 100%;
	background-size: 10px 100%;
	background-image: -webkit-linear-gradient(top, #FF7E00 0%, #FCAE1E 100%), -webkit-linear-gradient(top, #FF7E00 0%, #FCAE1E 100%);
	background-image: -moz-linear-gradient(top, #FF7E00 0%, #FCAE1E 100%), -moz-linear-gradient(top, #FF7E00 0%, #FCAE1E 100%);
	background-image: -o-linear-gradient(top, #FF7E00 0%, #FCAE1E 100%), -o-linear-gradient(top, #FF7E00 0%, #FCAE1E 100%);
	background-image: linear-gradient(top bottom, #FF7E00 0%, #FCAE1E 100%), linear-gradient(top bottom, #FF7E00 0%, #FCAE1E 100%);
}

#screen{
	height: 40px;
	text-align: right;
	background-color: #333;
	color: #272323;
	line-height: 50px;
	font-size: 22px;
	width: 220px;
	padding-right: 10px;
	margin: auto;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 10px solid #FF7E00;
	background-image: -webkit-linear-gradient(top, #D8F3FF 0%, #398EB3 100%), -webkit-linear-gradient(top, #D8F3FF 0%, #398EB3 100%);
	background-image: -moz-linear-gradient(top, #D8F3FF 0%, #398EB3 100%), -moz-linear-gradient(top, #D8F3FF 0%, #398EB3 100%);
	background-image: -o-linear-gradient(top, #D8F3FF 0%, #398EB3 100%), -o-linear-gradient(top, #D8F3FF 0%, #398EB3 100%);
	background-image: linear-gradient(top, #D8F3FF 0%, #398EB3 100%), linear-gradient(top, #D8F3FF 0%, #398EB3 100%);
}

.num_unit{
	height: inherit;
	width: 150px;
	float: left;
	margin-left: 20px;
}
.operator_unit{
	height: inherit;
	width: 80px;
	float: right;
	margin: auto;
}